<div class="date-picker">
    @if (label()) {
    <label>{{ label() }}</label>
    }

    <div #btn class="input" (click)="toggle(btn)">
        <span>
            {{ selectedDate() ? (selectedDate() | date:'mediumDate') : placeholder() }}
        </span>
        <svg class="calendar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-width="1.5"
                d="M8 7V3m8 4V3m-9 8h10m-13 8h16a2 2 0 002-2V7a2 2 0 00-2-2H4a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
    </div>

    <div [id]="popoverId" popover class="calendar">
        <div class="calendar-header">
            <button type="button" (click)="previousMonth()">‹</button>
            <select [ngModel]="currentMonth().getMonth()" (ngModelChange)="updateMonth($event)">
                @for (month of months; track month; let i = $index) {
                <option [ngValue]="i">{{ month }}</option>
                }
            </select>
            <select [ngModel]="currentMonth().getFullYear()" (ngModelChange)="updateYear($event)">
                @for (year of years(); track year) {
                <option [ngValue]="year">{{ year }}</option>
                }
            </select>
            <button type="button" (click)="nextMonth()">›</button>
        </div>

        <div class="week-days">
            @for (day of weekDays; track $index) {
            <div>{{ day }}</div>
            }
        </div>

        <div class="calendar-grid month-transition" [class.left]="monthDirection() === 'left'"
            [class.right]="monthDirection() === 'right'">
            @for (day of calendarDays(); track $index) {
            @if (day) {
            <div class="day" [class.selected]="isSelected(day)" [class.disabled]="isDisabled(getDateForDay(day))"
                (click)="selectDate(day)">
                {{ day }}
            </div>
            } @else {
            <div></div>
            }
            }
        </div>
    </div>
</div>