/* ================= CARD ================= */

.card {
  background-color: var(--bg-color);
  padding: 1.5rem;
  border-radius: var(--radius-md);
  box-shadow: 0 8px 20px var(--shadow-color);
  transition: var(--transition);
}

/* Hover elegante */
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}
