<nav class="navbar">
    <div class="left">
        <a routerLink="/">Booking System</a>
    </div>

    <div class="right">
        @if (isAuthenticated()) {
        <a routerLink="/reservations">My Reservations</a>
        }

        @if (isAdmin()) {
        <a routerLink="/admin">Admin</a>
        }

        @if (!isAuthenticated()) {
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/register">Register</a>
        }

        @if (isAuthenticated()) {
        <button (click)="logout()">Logout</button>
        }
    </div>
</nav>