<div class="hotel-card">

    @if (hotel.rating >= 4.5) {
    <span class="top-badge">Top Rated</span>
    }

    <img [src]="hotel.imageUrl" [alt]="hotel.name" />

    <div class="hotel-info">
        <h3>{{ hotel.name }}</h3>

        <p>
            📍 {{ hotel.city }} - {{ hotel.address }}
        </p>

        <div>
            ⭐ {{ hotel.rating }}
            ({{ hotel.reviewsCount }} reviews)
        </div>

        <div class="price">
            $ {{ hotel.price }} / night
        </div>

        <button (click)="goToDetails()">
            View Details
        </button>
    </div>

</div>